body{
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #EBE8FC;
}

      li{
        display: inline;
        margin-right: 80px;
        font-family: monotype;
        font-size: 18px;
      }
     
     .search{
       background-image: url("loupe.png" );
       background-size: 10px;
       background-position:0%;
       background-repeat: no-repeat;
       padding: 5px 2px  2px 13px;
       border: none;
       border-radius: 3px;
     }
.OverlayFoto{
  width: 100%;
  position: static;
}
.UPLOGO{
  width: 70%;
  display: block;
  margin: 10px auto 10px auto;
  margin-top:200px;
}


#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
 top: 0;
 bottom: 0;
  z-index: -1;
}
#toptext{
  width: 100%;
  height: 100%;
 
}
.TOPTEXT{
  font-family: Times New Roman;
  color: #ffffff;
  font-size: 400%;
  text-align: center;
  padding: 50% 0 0 0;
  margin-bottom: 0;


}
.TOPTEXT1{
  margin-top: 0;
  font-family:Brush Script MT ;
  color: #ffffff;
  font-size: 300%;
  text-align: center;
 padding: 0 0 10px;
 margin-bottom: 50px;

}
.TOPBUTTON{
  margin-left: auto;
  margin-right: auto;
  top: 0;
    display: block;
    width: 15%;
    border: none;
    background-color: white;
    padding: 14px 14px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  opacity: 0.7;
  margin-bottom: 300px;
}
#BelowVideo{
  background-color: white;
  width: 100%;
  height: 100%;
  float: left;
}
.RRText{
font-size: 190%;
font-style: italic;
color: chocolate;
margin: 10px auto 10px auto;
}
      .RecentRecipes {
        /* border: 3px solid rgb(176, 158, 158); */
        padding: 20px;
        width: 75%;
        float: left;
    }
    
    .foto {
        width: 40%;
    
        float: left;
        
        margin: 10px 50px 10px 0 ;
        
 
    } 

      a{
        text-decoration: none;
font-size:25px;

      }
      a:link{
        color: white;
      }
      a:visited{
        color: white;
      }
      a:hover{
      color: white;
      }
      
      
      #AboutUs{
        border: 2px solid #4632b9;
  width: 20%;
  float: right;
      }
  
      footer{
      position: fixed;
      bottom: 0;
        width:100%;
        height:60px;   /* Height of the footer */
       /* background:#6cf; */
      }
figcaption{
  width: 450px;
}

.dish{
  width: 300px;
}
.BottomPart{
  width: 100%;
  height: 150px;
  float: left;
  background-color: rgb(246, 233, 233);
}
.downLogo{
width: 40%;
  display: block;
float: left;
}

#ikonat{
  width: 20px;
  float: left;
  margin: 30px 5px 5px 30px;
  display: inline;
  }
  .ikon{
    width:20px;
  }

  .LogIn{
    width: 40%;
    float: right;
    font-size: 130%;
    margin: 30px 10px 10px 30px;
  }
  .SignIn{
    padding: 5px 2px  2px 13px;
       border: none;
       border-radius: 3px;
       margin: 5px;
  }